[Unit]
Description=Caddy
Requires=caddy.socket
Requires=podman.socket

[Container]
AddCapability=NET_ADMIN
ContainerName=caddy
Environment=CADDY_DOCKER_NO_SCOPE=true
EnvironmentFile=/var/mnt/data/%N.env
#HealthCmd=sh -c 'printf "GET / HTTP/1.0\n\n" | nc localhost:80 | grep -q "^HTTP/.* [23][0-9][0-9]"'
Image=docker.io/lucaslorentz/caddy-docker-proxy:2.13.1-alpine
Label=caddy_0="http://"
Label=caddy_0.bind=fd/3
Label=caddy_0.bind.protocols=h1
Label=caddy_0.redir=https://{host}{uri}
Label=caddy_1=""
Label=caddy_1.auto_https=disable_redirects
Label=caddy_1.default_bind_0=fd/4
Label=caddy_1.default_bind_0.protocols="h1 h2"
Label=caddy_1.default_bind_1=fdgram/5
Label=caddy_1.default_bind_1.protocols=h3
Network=podman
PodmanArgs=--cpus=1 --memory=128m --privileged
Volume=caddy:/data
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target