[Unit]
Description=Caddy
Requires=podman.socket

[Container]
AddCapability=NET_BIND_SERVICE
AutoUpdate=registry
ContainerName=caddy
DropCapability=All
Environment=CADDY_DOCKER_NO_SCOPE=true
EnvironmentFile=/var/mnt/data/%N.env
#HealthCmd=sh -c 'printf "GET / HTTP/1.0\n\n" | nc localhost:80 | grep -q "^HTTP/.* [23][0-9][0-9]"'
Image=docker.io/lucaslorentz/caddy-docker-proxy:2.13
Network=podman
NoNewPrivileges=true
Notify=true
PodmanArgs=--cpus=1 --memory=128m --privileged
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
ReadOnly=true
Tmpfs=/config/caddy
Volume=caddy:/data/caddy:Z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
