[Unit]
Description=CrowdSec

[Container]
AutoUpdate=registry
ContainerName=crowdsec
DropCapability=All
Environment=COLLECTIONS=crowdsecurity/apache2 crowdsecurity/caddy crowdsecurity/linux crowdsecurity/mysql crowdsecurity/nextcloud crowdsecurity/postfix crowdsecurity/sshd crowdsecurity/wordpress
GroupAdd=keep-groups
HealthCmd=["cscli","lapi","status"]
HealthLogDestination=events_logger
HealthOnFailure=kill
Image=docker.io/crowdsecurity/crowdsec:latest-debian
Network=podman
NoNewPrivileges=true
Notify=healthy
PodmanArgs=--cpus=1 --memory=256m
PublishPort=127.0.0.1:12345:8080
ReadOnly=true
SecurityLabelDisable=true
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Volume=/run/log/journal:/run/log/journal:ro
Volume=/var/log/journal:/var/log/journal:ro
Volume=%h/.config/containers/systemd/crowdsec/acquis.d:/etc/crowdsec/acquis.d:z
Volume=crowdsec_config:/etc/crowdsec:Z
Volume=crowdsec_data:/var/lib/crowdsec/data:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
