[Unit]
Description=Hugo %i
Requires=hugo-build@%i.service
After=hugo-build@%i.service

[Container]
AddCapability=NET_BIND_SERVICE
ContainerName=hugo-%i
#HealthCmd=["curl", "-fsS", "http://localhost"]
Image=localhost/hugo-%i
Label=caddy={$DOMAIN_%i}
Label=caddy.reverse_proxy={{upstreams}}
Network=podman
PodmanArgs=--cpus=1 --memory=128m

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
