[Unit]
Description=Journald Docker proxy

[Container]
AutoUpdate=local
ContainerName=journald-docker-proxy
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
GroupAdd=keep-groups
Image=localhost/journald-docker-proxy
PodmanArgs=--cpus=0.5 --memory=128m
SecurityLabelDisable=true
Network=backend.network
Pull=never
Tmpfs=/run:size=64M
Tmpfs=/run/lock:size=4M
Volume=/etc/localtime:/etc/localtime:ro
Volume=%t/bus:/run/user/1000/bus
Volume=/run/log/journal:/run/log/journal:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target