[Unit]
Description=mariadb

[Container]
AutoUpdate=registry
ContainerName=mariadb
#DropCapability=All
Environment=MARIADB_AUTO_UPGRADE=TRUE
EnvironmentFile=/var/mnt/data/%N.env
#Exec=docker-entrypoint.sh --binlog-format=ROW --transaction-isolation=READ-COMMITTED
HealthCmd=mariadb-admin ping -u root -p"$MARIADB_ROOT_PASSWORD"
HealthLogDestination=events_logger
Image=reg.mini.dev/mariadb:v13.0
Network=backend.network
#NoNewPrivileges=true
PodmanArgs=--cpus=2 --memory=2g
#ReadOnly=true
#Tmpfs=/var/tmp:rw,mode=1777
Volume=mariadb:/var/lib/mysql:Z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
