[Unit]
Description=Postfix
After=network-online.target
Wants=network-online.target

[Container]
AddCapability=NET_BIND_SERVICE
AddCapability=SETGID
AddCapability=SETUID
AutoUpdate=registry
ContainerName=postfix
DropCapability=All
EnvironmentFile=/var/mnt/data/%N.env
Environment=ALLOW_EMPTY_SENDER_DOMAINS=true
Environment=ANONYMIZE_EMAILS=true
Environment=POSTFIX_mydestination=
Environment=POSTFIX_relay_domains=
Environment=POSTFIX_smtpd_client_restrictions=permit
Environment=POSTFIX_smtpd_helo_required=yes
Environment=POSTFIX_smtpd_helo_restrictions=reject_invalid_helo_hostname
Environment=POSTFIX_smtpd_recipient_restrictions=reject_non_fqdn_recipient,reject_unknown_recipient_domain,reject_unlisted_recipient,permit_auth_destination,reject
Environment=POSTFIX_smtpd_reject_unlisted_recipient=yes
Environment=POSTFIX_smtpd_relay_restrictions=reject_unauth_destination
Environment=POSTFIX_smtpd_sender_restrictions=permit
# After editing /var/mnt/data/postfix/virtual, run: postmap lmdb:/etc/postfix/virtual
Environment=POSTFIX_virtual_alias_maps=lmdb:/etc/postfix/virtual
Image=docker.io/boky/postfix:v5.1.0-alpine
PublishPort=25:25
ReadOnly=true
Tmpfs=/etc/opendkim
Tmpfs=/etc/rspamd
Tmpfs=/var/lib/postfix
Tmpfs=/var/lib/rspamd
Tmpfs=/var/run
NoNewPrivileges=true
Volume=/var/mnt/data/postfix:/etc/postfix:Z
Volume=postfix:/var/spool/postfix:Z

[Install]
WantedBy=default.target
