[Unit]
Before=quadlet-reload.service
OnSuccess=quadlet-reload.service

[Service]
Type=oneshot
Environment=MARKER=%t/quadlet-sync.changed
EnvironmentFile=/var/mnt/data/%n.env
ExecStart=/usr/local/bin/git-sync.sh