[Unit]
Description=Caddy

[Container]
ContainerName=caddy
Environment=CADDY_DOCKER_NO_SCOPE=true
HealthCmd=sh -c 'printf "GET / HTTP/1.0\n\n" | nc localhost:80 | grep -q "^HTTP/.* [23][0-9][0-9]"'
Image=docker.io/lucaslorentz/caddy-docker-proxy:2.9.2-alpine
Network=podman
PodmanArgs=--privileged
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Secret=BLUDIT1_DOMAIN,type=env
Secret=CLAPER_DOMAIN,type=env
Secret=DOZZLE_PASSWORD,type=env
Secret=DOZZLE_USER,type=env
Secret=NEXTCLOUD_DOMAIN,type=env
Secret=REDIR_DOMAIN,type=env
Secret=REDIR_TARGET,type=env
Secret=WORDPRESS1_DOMAIN,type=env
Secret=WORDPRESS2_DOMAIN,type=env
Secret=WORDPRESS3_DOMAIN,type=env
Secret=WORDPRESS4_DOMAIN,type=env
Secret=WORDPRESS5_DOMAIN,type=env
Volume=caddy:/data
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
