[Unit]
Description=claper
After=postgres.service
Wants=postgres.service
StartLimitBurst=3
StartLimitIntervalSec=120

[Container]
ContainerName=claper
HealthCmd=sh -c '\
  curl -isS -m1 --http1.1 \
    -H "Connection: upgrade" \
    -H "Origin: $BASE_URL" \
    -H "Sec-WebSocket-Key: LQ==" \
    -H "Sec-WebSocket-Version: 13" \
    -H "Upgrade: websocket" \
    "http://localhost:4000/live/websocket" 2>&1 | \
  grep -Fq "HTTP/1.1 101"'
HealthLogDestination=events_logger
Image=ghcr.io/claperco/claper:2.3.2
Label=caddy={$CLAPER_DOMAIN}
Label=caddy.reverse_proxy="{{upstreams 4000}}"
Network=podman
Network=backend.network
PodmanArgs=--cpus=1 --memory=128m
Secret=BASE_URL,type=env
Secret=DATABASE_URL,type=env
Secret=OIDC_CLIENT_ID,type=env
Secret=OIDC_CLIENT_SECRET,type=env
Secret=OIDC_ISSUER,type=env
Secret=SECRET_KEY_BASE,type=env
Volume=/etc/localtime:/etc/localtime:ro
Volume=claper:/app/uploads

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
