[Unit]
Description=claper
After=postgres.service
Wants=postgres.service

[Container]
ContainerName=claper
HealthCmd=sh -c '\
  curl -isS -m1 --http1.1 \
    -H "Connection: upgrade" \
    -H "Origin: $BASE_URL" \
    -H "Sec-WebSocket-Key: LQ==" \
    -H "Sec-WebSocket-Version: 13" \
    -H "Upgrade: websocket" \
    "http://localhost:4000/live/websocket" 2>&1 | \
  grep -Fq "HTTP/1.1 101"'
Image=ghcr.io/claperco/claper:2.3.1
Label=caddy={$CLAPER_DOMAIN}
Label=caddy.reverse_proxy="{{upstreams 4000}}"
Network=podman
Network=systemd-backend
Secret=BASE_URL,type=env
Secret=DATABASE_URL,type=env
Secret=ENABLE_ACCOUNT_CREATION,type=env
Secret=SECRET_KEY_BASE,type=env
Volume=claper:/app/uploads

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
