[Unit]
Description=Docker Event Monitor

[Container]
ContainerName=docker-event-monitor
Image=ghcr.io/yubiuser/docker-event-monitor:3.0.1
PodmanArgs=--privileged
Volume=/etc/localtime:/etc/localtime:ro
Volume=%E/docker-event-monitor.yaml:/config.yml:z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
