[Unit]
Description=Dozzle

[Container]
ContainerName=dozzle
Environment=DOZZLE_BASE=/dozzle
Environment=DOZZLE_ENABLE_ACTIONS=true
Environment=DOZZLE_ENABLE_SHELL=true
Environment=DOZZLE_REMOTE_HOST=tcp://journalctl-proxy:2375
Environment=DOZZLE_NO_ANALYTICS=true
HealthCmd=["/dozzle","healthcheck"]
Image=docker.io/amir20/dozzle:v8.14.2
Label=caddy={$NEXTCLOUD_DOMAIN}
Label=caddy.handle=/dozzle/*
Label=caddy.handle.basic_auth.{$DOZZLE_USER}={$DOZZLE_PASSWORD}
Label=caddy.handle.reverse_proxy="{{upstreams 8080}}"
Network=podman
Network=systemd-backend
PodmanArgs=--cpus=0.5 --memory=256m --privileged
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
