[Unit]
Description=Fail2ban

[Container]
ContainerName=fail2ban
Image=localhost/fail2ban
PodmanArgs=--group-add keep-groups --security-opt=label=disable
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/fail2ban-fw:/run/fail2ban-fw:ro
Volume=/run/log/journal:/run/log/journal:ro

[Service]
ExecStartPre=podman build --tag localhost/fail2ban https://github.com/escoand/dockerfiles.git#master:docker/fail2ban
Restart=always

[Install]
WantedBy=multi-user.target default.target