[Unit]
Description=Build Hugo image %i
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman build \
  --tag localhost/hugo-%i \
  --build-arg REPO_URL=git@github.com:escoand/website-%i.git \
  --secret id=git_ssh_key,src=%h/.ssh/id_rsa \
  https://github.com/escoand/dockerfiles.git#master:docker/hugo

RemainAfterExit=yes