[Unit]
Description=Journalctl proxy

[Container]
ContainerName=journalctl-proxy
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
Environment=PULSE_RUNTIME_PATH=/run/user/1000/pulse
GroupAdd=keep-groups
Image=localhost/journalctl-proxy
PodmanArgs=--cpus=0.5 --memory=128m
SecurityLabelDisable=true
Network=backend.network
Pull=never
Tmpfs=/run:size=64M
Tmpfs=/run/lock:size=4M
Volume=journalctl-proxy:/run/journald-proxy
Volume=/etc/localtime:/etc/localtime:ro
Volume=%t:/run/user/1000
Volume=/run/log/journal:/run/log/journal:ro

[Service]
ExecStartPre=podman build --tag localhost/journalctl-proxy https://github.com/escoand/dockerfiles.git#master:docker/journalctl-proxy
Restart=always

[Install]
WantedBy=multi-user.target default.target
