[Unit]
Description=mariadb

[Container]
ContainerName=mariadb
Environment=MARIADB_AUTO_UPGRADE=TRUE
Exec=docker-entrypoint.sh --binlog-format=ROW --transaction-isolation=READ-COMMITTED
#HealthCmd=["healthcheck.sh", "--su-mysql", "--connect"]
Image=docker.io/library/mariadb:12.1.2
Network=backend.network
PodmanArgs=--cpus=2 --memory=2g
Secret=MARIADB_ROOT_PASSWORD,type=env
Volume=mariadb:/var/lib/mysql:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
