[Unit]
Description=mautrix-signal

[Container]
ContainerName=mautrix-signal
Environment=UID=991
Environment=GID=991
HealthCmd=["curl", "-fsS", "http://localhost:29328/_matrix/mau/live"]
Image=dock.mau.dev/mautrix/signal:v0.8.7
Network=backend.network
PodmanArgs=--cpus=1 --memory=128m
Volume=mautrix-signal:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
