[Unit]
Description=mautrix-whatsapp

[Container]
ContainerName=mautrix-whatsapp
Environment=UID=991
Environment=GID=991
HealthCmd=curl -fSs http://localhost:29318/_matrix/mau/live
Image=dock.mau.dev/mautrix/whatsapp:v0.11.2
Network=systemd-backend
Volume=mautrix-whatsapp:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
