[Unit]
Description=mautrix-signal

[Container]
ContainerName=mautrix-signal
Environment=UID=991
Environment=GID=991
HealthCmd=curl -fSs http://localhost:29328/_matrix/mau/live
Image=dock.mau.dev/mautrix/signal:v0.7.5
Network=systemd-backend
Volume=mautrix-signal:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
