[Unit]
Before=tuwunel.service
Description=mautrix-signal

[Container]
ContainerName=mautrix-signal
Environment=UID=991
Environment=GID=991
HealthCmd=["curl", "-fsS", "http://localhost:29328/_matrix/mau/live"]
HealthLogDestination=events_logger
Image=dock.mau.dev/mautrix/signal:v0.2602.0
Network=backend.network
Pod=matrix.pod
PodmanArgs=--cpus=1 --memory=128m
Volume=mautrix-signal:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
