[Unit]
Description=mautrix-whatsapp

[Container]
ContainerName=mautrix-whatsapp
Environment=UID=991
Environment=GID=991
HealthCmd=["curl", "-fsS", "http://localhost:29318/_matrix/mau/live"]
Image=dock.mau.dev/mautrix/whatsapp:v0.12.4
Network=systemd-backend
PodmanArgs=--cpus=1 --memory=128m
Volume=mautrix-whatsapp:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
