[Unit]
Description=Monitor

[Container]
ContainerName=monitor
Image=localhost/monitor
PodmanArgs=--cpus=1 --memory=128m --privileged
Pull=never
Secret=MAIL_FROM,type=env
Secret=MAIL_HOST,type=env
Secret=MAIL_PASSWORD
Secret=MAIL_PORT,type=env
Secret=MAIL_TO,type=env
Secret=MAIL_USER,type=env
Volume=/etc/localtime:/etc/localtime:ro
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

[Service]
ExecStartPre=podman build --tag localhost/monitor https://github.com/escoand/dockerfiles.git#master:docker/monitor
Restart=always

[Install]
WantedBy=multi-user.target default.target
