[Unit]
Description=Nextcloud
After=mariadb.service
Wants=mariadb.service

[Container]
ContainerName=nextcloud
Environment=MYSQL_HOST=mariadb
Environment=NEXTCLOUD_INIT_HTACCESS=TRUE
Environment=NEXTCLOUD_TRUSTED_PROXIES=10.89.0.0/24
Environment=NEXTCLOUD_UPDATE=1
Environment=REDIS_HOST=redis
HealthCmd=curl -fsS http://localhost/status.php | grep -q '"installed":true'
Image=docker.io/library/nextcloud:31.0.2
Label=caddy_0={$NEXTCLOUD_DOMAIN}
Label=caddy_0.reverse_proxy={{upstreams}}
Label=caddy_1={$REDIR_DOMAIN}
Label=caddy_1.redir={$REDIR_TARGET}
Network=podman
Network=systemd-backend
Secret=NEXTCLOUD_DATABASE,type=env,target=MYSQL_DATABASE
Secret=NEXTCLOUD_DATABASE_PASSWORD,type=env,target=MYSQL_PASSWORD
Secret=NEXTCLOUD_DATABASE_USER,type=env,target=MYSQL_USER
Secret=NEXTCLOUD_DOMAIN,type=env,target=NEXTCLOUD_TRUSTED_DOMAINS
Volume=nextcloud_app:/var/www/html:z
Volume=nextcloud_apps:/var/www/html/custom_apps:z
Volume=nextcloud_config:/var/www/html/config:z
Volume=nextcloud_data:/var/www/html/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
