[Unit]
Description=Nextcloud cron
After=mariadb.service
Wants=mariadb.service

[Container]
ContainerName=nextcloud-cron
#Entrypoint=/cron.sh
Image=docker.io/library/nextcloud:30.0.4
Network=systemd-backend
PodmanArgs=--entrypoint /cron.sh
Volume=nextcloud_app:/var/www/html:z
Volume=nextcloud_apps:/var/www/html/custom_apps:z
Volume=nextcloud_config:/var/www/html/config:z
Volume=nextcloud_data:/var/www/html/data:z

[Install]
WantedBy=multi-user.target default.target
