[Unit]
Description=Nextcloud
After=mariadb.service
Wants=mariadb.service

[Container]
ContainerName=nextcloud
Environment=MYSQL_HOST=mariadb
Environment=NEXTCLOUD_INIT_HTACCESS=TRUE
Environment=NEXTCLOUD_TRUSTED_PROXIES=10.88.0.0/24
Environment=NEXTCLOUD_UPDATE=1
Environment=REDIS_HOST=redis
HealthCmd=curl -fsS http://localhost/status.php | grep -q '"installed":true'
Image=docker.io/library/nextcloud:32.0.3
# CORS for external
Label=caddy_0=(cors_external)
Label=caddy_0.handle_path="/{args[0]}/*"
Label=caddy_0.handle_path.handle=@preflight
Label=caddy_0.handle_path.handle.header_0="Access-Control-Allow-Methods *"
Label=caddy_0.handle_path.handle.header_1="Access-Control-Allow-Origin *"
Label=caddy_0.handle_path.handle.respond=204
Label=caddy_0.handle_path.reverse_proxy="{args[0]}"
Label=caddy_0.handle_path.reverse_proxy.header_up_0="Host {upstream_hostport}"
Label=caddy_0.handle_path.reverse_proxy.header_up_1="-X-Forwarded-For"
Label=caddy_0.handle_path.reverse_proxy.header_up_2="-X-Forwarded-Host"
Label=caddy_0.handle_path.reverse_proxy.header_up_3="-X-Forwarded-Proto"
Label=caddy_0.handle_path.reverse_proxy.header_down_0="Access-Control-Allow-Methods *"
Label=caddy_0.handle_path.reverse_proxy.header_down_1="Access-Control-Allow-Origin *"
# CORS for internal
Label=caddy_1=(cors_internal)
Label=caddy_1.handle="{args[0]}"
Label=caddy_1.handle.handle=@preflight
Label=caddy_1.handle.handle.header_0="Access-Control-Allow-Credentials true"
Label=caddy_1.handle.handle.header_1="Access-Control-Allow-Headers Accept,Content-Type,X-Requested-With"
Label=caddy_1.handle.handle.header_2="Access-Control-Allow-Methods POST,OPTIONS"
Label=caddy_1.handle.handle.header_3="Access-Control-Allow-Origin *"
Label=caddy_1.handle.handle.header_4="Vary Origin"
Label=caddy_1.handle.handle.respond=204
# generic
Label=caddy_2={$NEXTCLOUD_DOMAIN}
Label=caddy_2.@preflight="method OPTIONS"
Label=caddy_2.import_0="cors_external https://ics.tools"
Label=caddy_2.import_1="cors_external https://www.schule.sachsen.de"
Label=caddy_2.import_2="cors_internal /index.php/apps/oauth2/api/v1/token"
Label=caddy_2.import_3="cors_internal /apps/oauth2/api/v1/token"
Label=caddy_2.reverse_proxy={{upstreams}}
Label=caddy_2.reverse_proxy.header_up="X-Real-IP {remote_host}"
# redirect
Label=caddy_3={$REDIR_DOMAIN}
Label=caddy_3.redir={$REDIR_TARGET}
Network=podman
Network=backend.network
PodmanArgs=--cpus=2 --memory=512m
Secret=NEXTCLOUD_DATABASE,type=env,target=MYSQL_DATABASE
Secret=NEXTCLOUD_DATABASE_PASSWORD,type=env,target=MYSQL_PASSWORD
Secret=NEXTCLOUD_DATABASE_USER,type=env,target=MYSQL_USER
Secret=NEXTCLOUD_DOMAIN,type=env,target=NEXTCLOUD_TRUSTED_DOMAINS
Volume=nextcloud_app:/var/www/html:z
Volume=nextcloud_apps:/var/www/html/custom_apps:z
Volume=nextcloud_config:/var/www/html/config:z
Volume=nextcloud_data:/var/www/html/data:z
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
