[Unit]
Description=postgres

[Container]
ContainerName=postgres
HealthCmd=sh -c 'pg_isready -q -d "$POSTGRES_DB" -U "$POSTGRES_USER"'
HealthLogDestination=events_logger
Image=docker.io/library/postgres:18.3-alpine
Network=backend.network
PodmanArgs=--cpus=2 --memory=512m
Secret=POSTGRES_DB,type=env
Secret=POSTGRES_PASSWORD,type=env
Secret=POSTGRES_USER,type=env
Volume=postgres:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
