[Unit]
Description=Redis

[Container]
ContainerName=redis
Exec=docker-entrypoint.sh --appendonly no  --protected-mode no --save ""
Image=docker.io/library/redis:8.0.1-alpine
HealthCmd=redis-cli --raw incr ping
Network=systemd-backend

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
