[Unit]
Description=Redis

[Container]
ContainerName=redis
Exec=docker-entrypoint.sh --appendonly no  --protected-mode no --save ""
Image=docker.io/library/redis:8.6.1-alpine
HealthCmd=redis-cli --raw incr ping
HealthLogDestination=events_logger
Network=backend.network
PodmanArgs=--cpus=1 --memory=128m

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
