[Unit]
Description=Redis

[Container]
ContainerName=redis
Exec=docker-entrypoint.sh --appendonly no  --protected-mode no --save ""
Image=docker.io/library/redis:7.4.2-alpine
HealthCmd=redis-cli --raw incr ping
Network=systemd-backend

[Install]
WantedBy=multi-user.target default.target
