[Unit]
Description=Restic

[Container]
ContainerName=restic
# backup job runs periodically within container
Environment=BACKUP_CRON="00 00 03 * * *"
Environment=RESTIC_FORGET_ARGS="--keep-last 1 --prune"
Environment=RESTIC_PROGRESS_FPS=0.1
HostName=%H
Image=docker.io/mazzolino/restic:1.8.0
Secret=RESTIC_ACCESS_KEY,type=env,target=AWS_ACCESS_KEY_ID
Secret=RESTIC_PASSWORD,type=env
Secret=RESTIC_REPOSITORY,type=env
Secret=RESTIC_SECRET_KEY,type=env,target=AWS_SECRET_ACCESS_KEY
Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/.ssh:/run/secrets/.ssh:ro
Volume=%h/.local/share/containers/storage/volumes:/data:z

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target