[Unit]
Description=SMS Tracker

[Container]
ContainerName=sms-tracker
Image=localhost/sms-tracker
Label=caddy={$TRACKER_DOMAIN}
Label=caddy.@nonhook.not="path /api/receive"
Label=caddy.basic_auth=@nonhook
Label=caddy.basic_auth.{$TRACKER_USER}={$TRACKER_PASSWORD}
Label=caddy.reverse_proxy="{{upstreams 3000}}"
Secret=TRACKER_AUTHENTICATION,type=env,target=API_AUTHENTICATION
Secret=TRACKER_MESSAGE,type=env,target=API_MESSAGE
Network=podman
Pull=never
Volume=sms-tracker:/app/data:z

[Service]
ExecStartPre=podman build --tag localhost/sms-tracker https://github.com/escoand/sms-live-tracker.git
Restart=always

[Install]
WantedBy=multi-user.target default.target
