[Unit]
Description=synapse

[Container]
ContainerName=synapse
Environment=UID=991
Environment=GID=991
HealthCmd=["curl", "-fsS", "http://localhost:8008/health"]
Image=docker.io/matrixdotorg/synapse:v1.143.0
Label=caddy=matrix.{$WORDPRESS1_DOMAIN}
Label=caddy.reverse_proxy="{{upstreams 8008}}"
Network=podman
Network=backend.network
PodmanArgs=--cpus=1 --memory=512m
Volume=synapse:/data:z

[Service]
ExecStartPre=podman run --rm --replace --name synapse --secret SYNAPSE_SERVER_NAME,type=env --env SYNAPSE_REPORT_STATS=no -v synapse:/data:z docker.io/matrixdotorg/synapse:v1.122.0 generate
Restart=always

[Install]
WantedBy=multi-user.target default.target
