[Unit]
Description=tuwunel

[Container]
ContainerName=tuwunel
Environment=TUWUNEL_ADDRESS=0.0.0.0
Environment=TUWUNEL_ALLOW_FEDERATION=false
Image=docker.io/jevolk/tuwunel:v1.5.0
Label=caddy=chat.{$WORDPRESS1_DOMAIN}
Label=caddy.reverse_proxy="{{upstreams 8008}}"
Network=backend.network
Network=podman
PodmanArgs=--cpus=1 --memory=128m
Secret=WORDPRESS1_DOMAIN,type=env,target=TUWUNEL_SERVER_NAME
Volume=tuwunel:/var/lib/tuwunel

[Service]
Restart=unless-stopped

[Install]
WantedBy=multi-user.target default.target
