[Unit]
Description=Vector

[Container]
ContainerName=vector
Env=VECTOR_LOG=debug
Image=localhost/vector
Network=backend.network
PodmanArgs=--cpus=1 --memory=128m --privileged
Pull=never
Secret=EVENTS_ACCESS_TOKEN,type=env,target=MATRIX_ACCESS_TOKEN
Secret=EVENTS_ROOM_ID,type=env,target=MATRIX_ROOM_ID
Volume=/etc/localtime:/etc/localtime:ro
Volume=%t/podman/podman.sock:/run/podman/podman.sock:ro

[Service]
ExecStartPre=podman build --tag localhost/vector https://github.com/escoand/dockerfiles.git#master:docker/vector
Restart=always

[Install]
WantedBy=multi-user.target default.target
