[Unit]
Description=VM

[Container]
AddCapability=NET_ADMIN
AddDevice=/dev/kvm
AddDevice=/dev/net/tun
ContainerName=vm
Environment=BOOT=https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-13.1.0-amd64-netinst.iso
Environment=_CPU_CORES=4
Environment=RAM_SIZE=1.5G
Image=docker.io/qemux/qemu:7.14
Label=caddy={$NEXTCLOUD_DOMAIN}
Label=caddy.handle_path=/vm/*
Label=caddy.handle_path.basic_auth.{$VM_USER}={$VM_PASSWORD}
Label=caddy.handle_path.reverse_proxy="{{upstreams 8006}}"
Network=podman
PodmanArgs=--cpus=1 --memory=4G --privileged
StopTimeout=120
Volume=vm:/storage:z

[Service]
Restart=on-failure

[Install]
#WantedBy=multi-user.target default.target
