[Unit]
Description=Wordpress 2

[Container]
ContainerName=wordpress2
Environment=WORDPRESS_DB_HOST=mariadb
Image=docker.io/library/wordpress:6.6.2-apache
Label=caddy={$WORDPRESS2_DOMAIN}
Label=caddy.reverse_proxy={{upstreams}}
Secret=WORDPRESS2_DB_CHARSET,type=env,target=WORDPRESS_DB_CHARSET
Secret=WORDPRESS2_DB_NAME,type=env,target=WORDPRESS_DB_NAME
Secret=WORDPRESS2_DB_PASSWORD,type=env,target=WORDPRESS_DB_PASSWORD
Secret=WORDPRESS2_DB_USER,type=env,target=WORDPRESS_DB_USER
Secret=WORDPRESS2_TABLE_PREFIX,type=env,target=WORDPRESS_TABLE_PREFIX
Secret=WORDPRESS2_AUTH_KEY,type=env,target=WORDPRESS_AUTH_KEY
Secret=WORDPRESS2_AUTH_SALT,type=env,target=WORDPRESS_AUTH_SALT
Secret=WORDPRESS2_LOGGED_IN_KEY,type=env,target=WORDPRESS_LOGGED_IN_KEY
Secret=WORDPRESS2_LOGGED_IN_SALT,type=env,target=WORDPRESS_LOGGED_IN_SALT
Secret=WORDPRESS2_NONCE_KEY,type=env,target=WORDPRESS_NONCE_KEY
Secret=WORDPRESS2_NONCE_SALT,type=env,target=WORDPRESS_NONCE_SALT
Secret=WORDPRESS2_SECURE_AUTH_KEY,type=env,target=WORDPRESS_SECURE_AUTH_KEY
Secret=WORDPRESS2_SECURE_AUTH_SALT,type=env,target=WORDPRESS_SECURE_AUTH_SALT
Volume=wordpress2:/var/www/html/wp-content:z
