[Unit]
Description=Wordpress 3

[Container]
ContainerName=wordpress3
Environment=WORDPRESS_DB_HOST=mariadb
Image=docker.io/library/wordpress:6.6.2-apache
Label=caddy={$WORDPRESS3_DOMAIN}
Label=caddy.reverse_proxy={{upstreams}}
Secret=WORDPRESS3_DB_CHARSET,type=env,target=WORDPRESS_DB_CHARSET
Secret=WORDPRESS3_DB_NAME,type=env,target=WORDPRESS_DB_NAME
Secret=WORDPRESS3_DB_PASSWORD,type=env,target=WORDPRESS_DB_PASSWORD
Secret=WORDPRESS3_DB_USER,type=env,target=WORDPRESS_DB_USER
Secret=WORDPRESS3_TABLE_PREFIX,type=env,target=WORDPRESS_TABLE_PREFIX
Secret=WORDPRESS3_AUTH_KEY,type=env,target=WORDPRESS_AUTH_KEY
Secret=WORDPRESS3_AUTH_SALT,type=env,target=WORDPRESS_AUTH_SALT
Secret=WORDPRESS3_LOGGED_IN_KEY,type=env,target=WORDPRESS_LOGGED_IN_KEY
Secret=WORDPRESS3_LOGGED_IN_SALT,type=env,target=WORDPRESS_LOGGED_IN_SALT
Secret=WORDPRESS3_NONCE_KEY,type=env,target=WORDPRESS_NONCE_KEY
Secret=WORDPRESS3_NONCE_SALT,type=env,target=WORDPRESS_NONCE_SALT
Secret=WORDPRESS3_SECURE_AUTH_KEY,type=env,target=WORDPRESS_SECURE_AUTH_KEY
Secret=WORDPRESS3_SECURE_AUTH_SALT,type=env,target=WORDPRESS_SECURE_AUTH_SALT
Volume=wordpress3:/var/www/html/wp-content:z
