sources:
  podman_events:
    type: exec
    command: [podman, --url, unix://run/podman/podman.sock, events, --format, json, --stream]
    mode: streaming
    decoding:
      codec: json

transforms:
  filtered_events:
    type: filter
    inputs:
      - podman_events
    condition: |
      .Status != "health_status" || .health_status != "healthy"

  grouped_events:
    type: reduce
    inputs:
      - filtered_events
    end_every_period_ms: 60000

sinks:
  console:
    type: console
    inputs:
      - filtered_events
    encoding:
      codec: json

  matrix:
    type: http
    inputs:
      - filtered_events
    uri: "http://synapse:8008/_matrix/client/v3/rooms/${MATRIX_ROOM_ID}/send/m.room.message/txn-{{ timestamp | strftime(format='%s%f') }}"
    method: put
    encoding:
      codec: json
    headers:
      Authorization: "Bearer ${MATRIX_ACCESS_TOKEN}"
      Content-Type: "application/json"
