sources:
  podman_events:
    type: exec
    command: [podman, --url, unix://run/podman/podman.sock, events, --format, json]
    mode: streaming

sinks:
  console:
    type: console
    inputs:
      - podman_events
    encoding:
      codec: json