sources:
  podman_events:
    type: exec
    command: [podman, --url, unix://run/podman/podman.sock, events, --format, json, --stream]
    mode: streaming
    decoding:
      codec: json

transforms:
  filtered_events:
    type: filter
    inputs:
      - podman_events
    condition: |
      .Status != "health_status" || .health_status != "healthy"

  grouped_events:
    type: reduce
    inputs:
      - filtered_events
    end_every_period_ms: 60000

  matrix_url:
    type: remap
    inputs:
      - filtered_events
    source: |
      .matrix_url = encode_percent(""http://synapse:8008/_matrix/client/v3/rooms/${MATRIX_ROOM_ID}/send/m.room.message/txn-{{ timeNano }}"")

sinks:
  console:
    type: console
    inputs:
      - filtered_events
    encoding:
      codec: json

  matrix:
    type: http
    inputs:
      - matrix_url
    uri: "{{ matrix_url }}"
    method: put
    auth:
      strategy: bearer
      token: "${MATRIX_ACCESS_TOKEN}"
    encoding:
      codec: json
    request:
      headers:
        Content-Type: "application/json"
