sources:
  podman_events:
    type: exec
    command: [podman, --url, unix://run/podman/podman.sock, events, --format, json, --stream]
    mode: streaming
    decoding:
      codec: json

transforms:
  filtered_events:
    type: filter
    inputs:
      - podman_events
    condition: |
      .Status != "health_status" || .health_status != "healthy"

  grouped_events:
    type: reduce
    inputs:
      - filtered_events
    end_every_period_ms: 60000

  matrix_message:
    type: remap
    inputs:
      - filtered_events
    source: |
      .matrixRoom = encode_percent("${MATRIX_ROOM_ID}")
      .msgtype = "m.text"
      .body    = "Test"

sinks:
  console:
    type: console
    inputs:
      - filtered_events
    encoding:
      codec: json

  matrix:
    type: http
    inputs:
      - matrix_message
    uri: "http://synapse:8008/_matrix/client/v3/rooms/{{ matrixRoom }}/send/m.room.message/txn-{{ timeNano }}"
    method: put
    auth:
      strategy: bearer
      token: "${MATRIX_ACCESS_TOKEN}"
    encoding:
      codec: json
      only_fields:
        - msgtype
        - body
    request:
      headers:
        Content-Type: "application/json"
    # only one event, no array
    batch:
      max_events: 1
    framing:
      method: newline_delimited
