sources:
  podman_events:
    type: exec
    command: [podman, --url, unix://run/podman/podman.sock, events, --format, json, --stream]
    mode: streaming
    decoding:
      codec: json

transforms:
  filtered_events:
    type: filter
    inputs:
      - podman_events
    condition: |
      .Status != "health_status" || .health_status != "healthy"

sinks:
  console:
    type: console
    inputs:
      - filtered_events
    encoding:
      codec: json